<div class="row">
  <div class="col-md-8">
    <h3>Initiate Returns</h3>
    <hr />
    <div class="form-group">
      <label for="branch_name">Enter Order Reference No: </label>
      <div class="input-group">
        <input type="text" class="form-control" required id="order_ref_no">
        <div class="input-group-addon"><a class="ti-search" onclick="loadOrderItems()"></a></div>
      </div>
    </div>
    <div class="table-responsive">
      <table id="poItemsTable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <caption>Items You Ordered</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Ret Qty</th>
            <th>Price</th>
            <th>Total Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="form-group">
      <label for="branch_name">Reasons for Returning</label>
      <textarea style="resize:none;" id="remarks" class="form-control" style="width: 100%;" required></textarea>
    </div>
    <button type="button" class="btn btn-success waves-effect" onclick="proceedReturn()">PROCEED TO RETURNS</button>
  </div>
  <div class="col-md-4">
    <h3>Return Request Status</h3>
    <hr />
    <div class="table-responsive">
      <table id="datatable" class="table table-striped" role="grid" aria-describedby="datatable_info">
        <caption>Wait for the Approval of the commissary</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>ORDER REF NO</th>
            <th>RETURN REF NO</th>
            <th>STATUS</th>
            <th>DATE TIME</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>