<div class="row">
  <section id="wrapper" class="error-page">
    <div class="error-body text-center">
      <h1 class="text-info">404</h1>
      <h3 class="text-uppercase">Not Found</h3>
      <p class="text-muted m-t-30 m-b-30 text-uppercase">The page you're looking for doesn't exist.</p>
      <a href="./?" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to dashboard</a>
    </div>
    <footer class="footer text-center">Please contact your administrator</footer>
  </section>
</div>