<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <h3 class="box-title m-b-0">Place your order here</h3>
      <p class="text-muted m-b-30 font-13"> Please check all your inputs before placing the order</p>
      <div id="orderWizard" class="wizard">
        <ul class="wizard-steps" role="tablist">
          <li class="active" role="tab" style="width: 33.3%;">
            <h4><span><i class="ti-bag"></i></span>Choose Items</h4>
          </li>
          <li role="tab" style="width: 33.3%;">
            <h4><span><i class="ti-credit-card"></i></span>Quantity & Price</h4>
          </li>
          <li role="tab" style="width: 33.3%;">
            <h4><span><i class="ti-check"></i></span>Verify Order</h4>
          </li>
        </ul>
        <div class="wizard-content">
          <div class="wizard-pane active" role="tabpanel" id="item_selection">
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <center>
                  <h5 class="box-title">Select Your Items</h5>
                  <select id='pre-selected-options' multiple='multiple' name="items[]">

                  </select>
                </center>
              </div>
            </div>
          </div>
          <div class="wizard-pane table-responsive" role="tabpanel" id="items_qty">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style='text-align:center'>ID</th>
                  <th style='text-align:center'>Item Description</th>
                  <th style='text-align:center'>Price</th>
                  <th style='text-align:center'>Quantity</th>
                  <th style='text-align:center'>Total Amount</th>
                </tr>
              </thead>
              <tbody id="itemsTbody"></tbody>
            </table>
          </div>
          <div class="wizard-pane table-responsive" role="tabpanel" id="verification">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style='text-align:center'>ORDER NO</th>
                  <th style='text-align:center'>FRANCHISEE OWNER</th>
                  <th style='text-align:center'>TOTAL AMOUNT</th>
                  <th style='text-align:center'>PREVIOUS BALANCE</th>
                  <th style='text-align:center'>STATUS </th>
                </tr>
              </thead>
              <tbody>
                <td id="order_ref_no" style='text-align:center'></td>
                <td id="franchisee_owner" style='text-align:center'></td>
                <td id="total_amount" style='text-align:center'></td>
                <td id="previous_balance" style='text-align:center'></td>
                <td id="status" style='text-align:center'></td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>