
<div class="row">
  <div class="col-lg-3">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">TOTAL RUNNING BALANCE</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-wallet" style="color:white"></i></li>
        <li class="text-center">
          <a href=""><span class="counter" id="total_running_balance" style="color:rgba(255, 0, 0, 0.561); font-size: xx-large;">0</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">BILLING BALANCE</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-wallet" style="color:white"></i></li>
        <li class="text-center">
          <a href="./?billing_franchising"><span class="counter" id="billing_balance" style="color:rgba(255, 0, 0, 0.561); font-size: xx-large;">0</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">ORDER BALANCE</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-wallet" style="color:white"></i></li>
        <li class="text-center">
          <a href=""><span class="counter" id="order_balance" style="color:rgba(255, 0, 0, 0.561); font-size: xx-large;">0</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="white-box bg-theme">
      <h3 class="box-title" style="color:white">LAST PAYMENT AMOUNT</h3>
      <ul class="list-inline two-part">
        <li><i class="ti-wallet" style="color:white"></i></li>
        <li class="text-center">
          <a href=""><span class="counter" id="last_payment_amount" style="color:rgba(255, 0, 0, 0.561); font-size: xx-large;">0</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>


