<div class="row">
  <h3 class="box-title">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" onclick="checkout()"><i class="fa fa-shopping-cart m-r-5"></i> Checkout Your Order Here (<count id="count">0</count>)</button>
    </div>
  </h3>
  <br/><br/>

  <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="datatable" class="table">
      <caption>
        <h5>Place your order here</h5>
      </caption>
      <thead>
        <tr>
          <th>ITEM</th>
          <th>DESCRIPTION</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<div id="checkoutModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Checkout Order</h4>
        </div>
        <div class="modal-body">

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ITEM</th>
                  <th>PRICE</th>
                  <th>QTY</th>
                  <th>TOTAL AMOUNT</th>
                </tr>
              </thead>
              <tbody id="checkoutTableBody"></tbody>
            </table>
            <h3 style="text-align: right;">Overall Total Amount : <label id="overall_total_amount"></label></h3>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary waves-effect waves-light" onclick="placeOrder()">Place Order</button>
        </div>

      </form>
    </div>
  </div>
</div>